
@charset "UTF-8";

/* 
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: rgb(37, 255, 164);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 116, 0);
}

h1#principal {
    text-align: center;
    background-color: rgb(3, 75, 3);
    color: white;
}

h2 {
    color: rgb(26, 46, 26);
}

.basico {
    color: rgb(67, 78, 67);
    font-weight: bold;
}

.intermediario {
    color: rgb(217, 228, 71);
    font-weight: bold;
}

.avancado {
    color: rgb(194, 109, 109);
    font-weight: bold;
}

.destaque {
    background-color: #c5c56070;
}